.filter-date{
    background-clip: padding-box;
    border: 1px solid #3b3b3b;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    background-color: #fff;
    height: 26px;
    width: 144px;
}

.sum{
    color: #3b3b3b;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
}
.number{
    font-weight: 400;
}