
.content{
    margin-top: 35px;
    margin-bottom: 35px;
    min-height: calc(100vh - 88px);
}
.nav_menu{
    display: flex;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #0c4206;
    
}
.nav_menu a{
    color: #ffff;
    
}
.nav_menu ul li{
    font-family: 'Roboto';
    font-size: 18px;

}
.nav_menu img{
    vertical-align: text-top;
}
.hunter{
    background-image: url('/img/hunter.png') cover;
}
.logo{
    font-family: 'Acrom Medium';
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.5px;
    margin-right: 24px;
}
.logo a:hover{
    text-decoration:none;
}
.nav_menu li a{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
    padding: 18px 0 18px 30px !important;

}
.nav-link{
    color:#fff !important;
}
.user-logo{
    vertical-align: sub !important;
}
.user-item{
    padding-right: 20px;
}
.badge-statistic{
    width: 146px;
    height: 18px;
    color: #ffffff;
    font-family: 'Acrom Medium';
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    background-color: #83ba2d;
}
.number{
    color: #3b3b3b;
    font-family: "Roboto";
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
}
.text-statistics{
    color: #3b3b3b;
    font-family:'Roboto';
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.statistics{
    margin-top: 45px;
    margin-bottom: 45px;
}
.title{
    font-family: 'Acrom Medium';
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #3b3b3b;
}
.activity{
    margin-top: 30px;
    margin-bottom: 30px;
}
.activity img{
    max-height: 247px;
}
.date{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    
}
.info {
    display: inline-flex;
}
.label-cam{
    color: #3b3b3b;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.btn-green{
    color: #83ba2d;
    border-color: #83ba2d;
}
.button-look{
    text-transform: uppercase;
    bottom: 0;
    font-family: Roboto;
    font-size: 18px;
    padding: 9px 10px;
    line-height: 20px;
    // padding: 13px 11px;
    // line-height: 12px;
}
.button-delete{
    padding: 10px 50px;
    line-height: 11px;
    font-family: 'Acrom Medium';
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.pagination-info{
    font-size: 14px;
    line-height: 4px;
    padding: 10px 6px;
}
.button-img{
    position: absolute;
}
.btn-green:hover{
    color: #fff;
    background-color: #83ba2d;
    border-color: #83ba2d;
}
.btn-green:active{
    background-color: #83ba2d !important;
    border-color: #83ba2d !important;
}
.table-button{
    padding-right: 0 !important;
}
hr{
    width: 100%;
    border-bottom: 1px solid #3b3b3b;
}
.no-image{
    align-items: center;
}
.footer-nav{
    color: #ffff;
}
.footer-nav a {
    padding-top: 2px;
    padding-bottom: 0 !important;
    font-family: 'Roboto';
}
.custom-table{
        width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
    
}
.custom-table th {
    color: #3b3b3b;
    font-family: 'Acrom Medium';
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 0px;
    padding-right: 20px;
}
.custom-table tbody tr {
    border-bottom: 1px solid #00000078;
}
.custom-table td {
    padding: 30px 20px 30px 0px;
    color: #3b3b3b;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    
}

.table-images th{
    color: #3b3b3b;
    font-family: 'Acrom Medium';
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-top: none;
    border-bottom: 1px solid #3b3b3b !important;
    padding-left: 0;

}

.table-images td {
    padding: 20px 30px 20px 0;
    border-bottom: 1px solid #3b3b3b !important;

}
// .table-images tbody tr td{
//     padding-bottom: 0;
// }
.table-images .table-button {
    vertical-align: bottom;
}
.name{
    display: block;
    color: #282828;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 700;
}
.msg{
    color: #3b3b3b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
}
.comment{
    height: 195px;
    width: 100%;
    overflow-y: auto;
}
.comment-text{
    background-color: transparent;
    height: 50px;
    width: 100%;
    border-top: 1px solid #3b3b3b;
    border-bottom: 1px solid #3b3b3b;
    border-left: none;
    border-right: none;
    // position: absolute;
    // bottom: 15px;
}
.button-group{
    // margin-top: calc(100% - 67px);
    // padding-top: 130px;
}
.custom-dropdown{
    background-color: #0c4206;
}
.custom-dropdown a{
    margin-left: 0;
    padding-left: 30px;
}
.custom-dropdown a:hover{
    background-color: #0c4206 !important;
    color: #fff;

    
}
.custom-pagination {
    justify-content: flex-end;
}
.custom-pagination .page-link:hover{
        img{
             -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
        }
     
}
.custom-pagination a {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    margin-left: 4px;
    border: 1px solid #83ba2d;
    color: #83ba2d;
    padding: 8px 8px;
    line-height: 8px;
}
.pagination-arrow-2{
    padding: 4px 6px !important;
}
.pagination-arrow-1{
    padding: 4px 8px !important;
}
.custom-pagination a:hover{
    color:#fff;
    background-color: #83ba2d;
}
.custom-pagination a:active{
    background-color: #83ba2d !important;
}
// .custom-pagination li{
//     border: 1px solid #83ba2d;
// }
.images{
    margin-top: 40px; 
    margin-bottom: 40px; 
}
.images img{
    max-height: 247px;
}
.images-title{
    margin-right: 14px;
    margin-bottom: 0 !important;
}
.filter{
    // display: block;
    // width: 213px;
    // height: 26px;
    // fccolor: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #3b3b3b;
    align-items: baseline;
}
.filter-date{
    width: 144px;
}
.btn-details{
    padding: 9px 10px !important;
    line-height: 10px !important;
}
.btn-details-save{
    padding: 11px !important;
}
.btn-forward{
    padding: 8px 31px;
    width: 170px;
    line-height: 17px;
}
input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }
@media only screen and (max-width: 760px) {
    .custom-pagination {
        margin-top:16px;
        justify-content: center;
    }
}
@media only screen and (max-width: 610px) {
    .button-img {
        position: unset;
    }
}
@media only screen and (max-width: 481px) {
    #date_label{
        width:100%;
    }
    #date_from{
        margin-bottom: 10px;
    }
}