.details{
    margin-top: 35px;
    margin-bottom: 20px;
}
.inline-text{
    display: -webkit-inline-box;
}
.lat {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
}
.lat-input{
    width: 112px;
    align-items: center;
}
.desc{ 
    width: 100%;
    height: 125px;
    border: 1px solid #3b3b3b;
    padding: 5px;
}
.latest-images img{
    margin-top: 35px;
    width: 100%;
}
.btn-save{
    margin-top: 20px;
}
.btn-camera-delete{
        font-family: 'Acrom Medium';
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        float: right;
        line-height: 14px;
        padding: 12px;
        margin-left: 10px;
}

.camera-save{
    color: #ffffff;
    font-family: 'Acrom Medium';
    font-weight: 700;
    text-transform: uppercase;
    background-color: #83ba2d;
}

.close-modal{
    font-family: 'Acrom Medium';
    font-weight: 700;
    text-transform: uppercase;

}
.usergroups-title{
    background-color: #d4d4d4;
    padding: 8px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    margin-top: 9px;
    margin-right: 9px;
    text-transform: uppercase;
    line-height: 10px;
    height: 27px;
}
#btn_all_img{
    margin-bottom: 20px;
}
@media only screen and (max-width: 1265px){
    .camera-info{
        flex-direction: column;
    }
}
@media only screen and (max-width: 992px) {
    .btn-camera-delete{
        margin-top: 10px;
        width: 100%;
        margin-left: 0;
    }
    .btn-details{
        width: 100%;
    }
}