.details{
    margin: 35px 0;
}
.inline-text{
    display: -webkit-inline-box;
}
.desc{ 
    width: 100%;
    height: 125px;
    border: 1px solid #3b3b3b;
}
.latest-images img{
    margin-top: 35px;
}