.block{
    margin-top: 35px;
    margin-bottom: 35px;
}
// .block label{
//     margin-right: 15px;
//     margin-bottom: 0 !important;
//     align-self: center;
// }
.custom-input{
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #3b3b3b;
    
}
.anotation{
    color: #3b3b3b;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}
.huntingarea-table{
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
.huntingarea-table th {
    color: #3b3b3b;
    font-family: 'Acrom Medium';
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 10px 10px 0;
    min-width: 100px;
}
.huntingarea-table thead tr{
    border-bottom: 1px solid #3b3b3b;
}
.huntingarea-table tbody td {
color: #3b3b3b;
font-family: 'Roboto';
font-size: 14px;
font-weight: 400;
padding-top: 23px;
padding-bottom: 23px;
border-bottom: 1px solid #3b3b3b;
}
.setting-pagination{
    margin: 35px 0;

}
.base-settings, .check-box, .users, .usergroups, .configsets, .hunting-areas{
    label{
        width: 140px;
        margin-right: 15px;
        margin-bottom: 0 !important;
        align-self: center;
    }
}
.custom-check{
    width: 14px;
    height: 14px;
    border-radius: none;
    border: 1px solid #9d9d9d;
    background-color: #9d9d9d;
    background-image: linear-gradient(to top, #e7e7e7 0%, #f8f8f8 100%);
}
.btn-add{
    color: #1779cc;
        border-color: #1779cc;
        font-family: 'Acrom Medium';
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        float: right;
}
.btn-absolute{
    position: absolute;
}
.usergroups, .users{
    position: relative;
}
.desc-block{
    margin-top: 35px;
}
.user-input{
    margin-bottom: 15px;
}
.credentials .configsets{
    margin-top: 35px;
}
.configsets, .hunting-areas{
    table{
        margin-bottom: 0 !important;
    }
}
